.intro-section {
    text-align: center;
    color: black;
    padding: 10%;
    background-image: url(https://images.pexels.com/photos/403495/pexels-photo-403495.jpeg?auto=compress&cs=tinysrgb&w=600);
    margin-bottom: 20px;
}

.search-box {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.trend-image {
    background-color: rgb(232, 235, 231);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
}

.tag-trend {
    text-align: center;
}